@model ABNYMobile.Models.Event

@{
    ViewBag.Title = "Checkoff";
}

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

<big><big><big><big><big><big><big><big>
<h2>Attendee Checkoff</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <fieldset>
	        <legend>@this.Model.Title   Attendees</legend>
        <p>
            <input type="submit" value="Save" />
        </p>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <br />
        <br />
            <ul data-role="listview" data-filter="true">
	            @foreach (var attendee in this.Model.Attendees)
                 {
                    <li>
                        Attendee @attendee.Id
                        @if (attendee.IsHere)
                        { 
                            <big><big>
		                    <select name="@attendee.Id" id="flip-a" data-role="slider">
			                    <option value="off" >Not Here</option>
			                    <option value="on" selected="selected">Here</option>
		                    </select> 
                            </big></big>
                        }
                        else
                        {
                            <big><big>
                            <select name="@attendee.Id" id="flip-a" data-role="slider">
			                    <option value="off" selected="selected" >Not Here</option>
			                    <option value="on">Here</option>
		                    </select> 
                            </big></big>
                        }
                    </li>
                 }
            </ul>
    </fieldset>
}

</big></big></big></big></big></big></big></big>