@{
	ViewBag.Title = "ABNY Mobile - Events";
}

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

<script type="text/javascript">
	var ABNY =
		{
			version: 1.00,
			getVersion: function () { return this.version; },
			mobile:
			{
			    goHome: function () { location.href = '@Url.Action("Index", "MHome", new {area = "m"}) '; },
			    editEvent: function (x) { location.href = '/m/MEvents/Edit/' + x },
			    checkoff: function (x) { location.href = '/m/MEvents/Checkoff/' + x }
			}
		};
</script>


<li> <button onclick="javascript:ABNY.mobile.goHome();">Home</button> </li>
<div class="cardcontainer">
	@foreach (var m in Model)
	{
        <div class="card">
            <li>@m.Title</li>
            <button onclick="javascript:ABNY.mobile.checkoff(@m.Id);">Check off attendees</button>
			<li>@m.Description</li>
            <li>@(((DateTime)m.EventDate).ToString("MM/dd/yyyy"))</li>
            <button onclick="javascript:ABNY.mobile.editEvent(@m.Id);">Edit</button>
		</div>
    }
</div>

