@{
	ViewBag.Title = "ABNY Mobile - People";
}

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

<script type="text/javascript">
	var ABNY =
		{
			version: 1.00,
			getVersion: function () { return this.version; },
			mobile:
			{
			    goHome: function () { location.href = '@Url.Action("Index", "MHome", new {area = "m"}) '; },
				editPerson: function (x) { location.href = '/m/MPeople/Edit/' + x }
			}
		};
</script>


<li> <button onclick="javascript:ABNY.mobile.goHome();">Home</button> </li>
<div class="cardcontainer">
	@foreach (var p in Model)
	{
		<div class="card">
            <li>@p.FullName</li>
            <li>@p.MemberWith</li>
            <li>@p.EmailAddress</li>
            <button onclick="javascript:ABNY.mobile.editPerson(@p.Id);">Edit</button>
		</div>
	}
</div>


